<!DOCTYPE html>
<html ng-app>
<head>
    <title>Simple app</title>
    <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>
    <p>名字 : <input type="text" ng-model="name"  placeholder="Your name"></p>
    <h1>Hello {{name}}</h1>
</body>
</html>
<!-- <!DOCTYPE html>
<html ng-app>
<head>
    <title>Simple app</title>
    <meta charset="utf-8">
    <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>

  <p>名字 : <input type="text" ng-model="name" placeholder="Your name"></p>
  <h1>Hello {{name}}</h1>

</body>
</html>  -->